
{{!-- bring in the nav page onto this - go update react portfolio --}}
{{> nav}}

<div class="container mt-5 postContainer">
    <div class="row row-cols-1">
        {{#each posts as |post|}}
        <div class="col align-self-center py-3 d-flex justify-content-center">
            <div class="card w-75 text-white border-light">
                <div class="card-header">
                    <a class="link-light" href="/post/{{id}}"><p class="h2">{{name}}</p></a>
                    <p class="card-text"><small class="text-white">Posted by {{user.name}} <cite title="Source Title">{{format_date date_created}}</cite></small></p>
                </div>
                <div class="card-body">     
                    <p class="h6">{{description}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
