<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between w-100">
        <a class="navbar-brand m-0" href="/">The Tech-Blog</a>
    {{#if logged_in}}
    <h2 class="text-light m-0 w-100 text-center ps-5 ms-5">Greetings, {{username}}!</h2>
    {{/if}}
        <div class=" d-flex justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                {{#if logged_in}}
                <li class="nav-item">
                <a class="nav-link" href="/profile">Dashboard</a>
                </li> 
                <li class="nav-item">
                <a class="nav-link" id="logout" href="#">Logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>

<!-- Trigger the modal -->
<div class="d-flex justify-content-center align-items-center my-5">
<button type="button" class="btn btn-outline-secondary text-white" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  New post
</button>
</div>
<!-- Here is the Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form class="form new-post-form">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create a new post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 form-group">
                        <label for="postName" class="form-label">Title</label>
                        <input type="text" class="form-control" id="postName">
                    </div>
                    <div class="mb-3 form-group">
                        <label for="postDesc" class="form-label">Description</label>
                        <textarea class="form-control" id="postDesc" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container mt-5 postContainer post-list">
    {{#if posts.length}}
    <div class="row row-cols-1">
        {{#each posts as |post|}}
        <div class="col align-self-center py-3 d-flex justify-content-center">
            <div class="card w-50 text-white bg-secondary border-light">
                <div class="card-header">
                    <a class="link-light" href="/post/{{id}}">{{name}}</a>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                     <p>{{description}}</p>
                    </blockquote>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-sm btn-danger" data-id="{{post.id}}">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{/if}}

<script src="./js/profile.js"></script>
